body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 30px 20px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 24px;

  align-items: start;
}

.car-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.car-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.rating-section {
  margin-top: auto;
}

.car-content h2 {
  margin-top: 0;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #1d4ed8;
}

.submitted-button {
  background-color: #28a745;
  cursor: default;
  opacity: 0.9;
}

.gdpr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.gdpr-box {
  background: white;
  max-width: 700px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.gdpr-box h2 {
  margin-top: 0;
}

.gdpr-box ul {
  padding-left: 20px;
}

.gdpr-box button {
  margin-top: 20px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 16px;
  width: 400px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.login-box input {
  width: 100%;
  margin-bottom: 14px;
  padding: 12px;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 700px;

  border-radius: 20px;
  padding: 24px;
  padding-top: 50px;

  position: relative;

  max-height: 90vh;
  overflow-y: auto;
}

.modal-image {
  width: 70%;
  border-radius: 16px;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;

  top: 12px;
  right: 12px;

  width: 42px;
  height: 42px;

  border: none;
  border-radius: 50%;

  background: #2563eb;
  color: white;

  font-size: 24px;
  font-weight: bold;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1001;
}
